body {
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    position: relative;
}

header {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background-color: #0f0f10;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#menu {
    flex-basis: 55%;
    padding-top: 10px;
    ul {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            il {
                span {
                    color: #fe5f55;
                }
            }
        }
    }
}

main {
    margin: auto;
    flex-basis: 100%;
    .main-header {
        flex-basis: 100%;
        text-align: center;
        line-height: 1.4;
        span {
            font-size: 1.2em;
            color: rgb(0, 0, 0);
            &:hover {
                color: #fe5f55;
            }
        }
        #description-header {
            line-height: 70px;
            font-weight: 400;
            padding-top: 100px;
            text-align: center;
            color: white;
            span:first-child {
                font-size: 70px;
                &:hover {
                    color: #fe5f55;
                }
            }
            span:nth-child(3) {
                font-size: 45px;
                &:hover {
                    color: #fe5f55;
                }
            }
            span:nth-child(5) {
                font-size: 70px;
                font-family: "Helvetica", "Arial", sans-serif;
                font-weight: bold;
                a {
                    color: black;
                    &:hover {
                        color: #fe5f55;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #main-content {
        width: 50em;
        margin: auto;
        padding-top: 30px;
    }
    .big-title {
        color: #fe5f55;
        font-size: 40px;
        text-align: center;
        font-family: "Superior title", "Times New Roman", sans-serif;
        letter-spacing: 0em;
    }
    h2 {
        color: #0f0f10;
    }
    h3 {
        font-size: 1.3em;
    }
    p,
    ul,
    ol,
    li,
    b {
        font-size: 1.1em;
        line-height: 1.2em;
        text-align: justify;
    }
}

@font-face {
    font-family: "arial";
    src: url("../fonts/arial/ARIAL.woff") format("woff");
}

.appli {
    margin-top: 1.7em;
    h3 {
        margin-bottom: 5px;
    }
    p {
        margin-top: 0;
    }
}

img {
    border: 2px solid rgb(190, 187, 187);
}

#image-3 {
    margin: 1.5em;
    width: 80%;
}

.code {
    background-color: rgb(232, 231, 231);
    border-radius: 2px;
    font-family: monospace;
    padding: 1em;
    margin: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #0f0f10;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.fifth-title {
    color: #0f0f10;
    font-size: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0;
    width: 500px;
}

#next {
    border: none;
    width: 5%;
    cursor: pointer;
}

.pagination-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em 0 8em 0;
    text-decoration: none;
    color: black;
    span {
        margin-right: 1em;
        padding-top: 8px;
    }
}

a {
    text-decoration: none;
    color: rgb(32, 114, 191);
}

.title_link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.projet-title {
    // color : #ebce2a;
}

.middle-title {
    font-size: 30px;
    text-align: center;
    font-family: "Superior title", "Times New Roman", sans-serif;
    letter-spacing: 0em;
}

.middle-section {
    margin-top: 3em;
}

.third-section {
    margin-top: 2em;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@330&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cormorant+Garamond:wght@600;700&family=Lora:wght@500&family=Old+Standard+TT&family=Poppins&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@300&family=Cormorant+Garamond:wght@300;600&family=Lora:wght@500&family=Old+Standard+TT&family=Pacifico&family=Poppins&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Space+Mono&display=swap");