@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@330&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cormorant+Garamond:wght@600;700&family=Lora:wght@500&family=Old+Standard+TT&family=Poppins&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans:wght@300&family=Cormorant+Garamond:wght@300;600&family=Lora:wght@500&family=Old+Standard+TT&family=Pacifico&family=Poppins&family=Roboto+Mono:wght@500&family=Roboto:wght@300;400&family=Space+Mono&display=swap");
body {
  padding: 0;
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  position: relative;
}

#menu {
  flex-basis: 55%;
  padding-top: 10px;
}
#menu ul {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  #menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
#menu ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 900px) {
  #menu ul a {
    margin: 0.5em;
  }
}
#menu ul a il span {
  color: #fe5f55;
}

header {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  background-color: #0f0f10;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

main {
  margin: auto;
  flex-basis: 100%;
}
main .main-header {
  flex-basis: 100%;
  text-align: center;
  line-height: 1.4;
}
main .main-header span {
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 900px) {
  main .main-header span {
    font-size: 1em;
  }
}
main .main-header #description-header {
  line-height: 60px;
  font-weight: 400;
  padding-top: 80px;
  text-align: center;
  color: white;
}
main .main-header #description-header span:first-child {
  font-size: 45px;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main .main-header #description-header span:first-child {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  main .main-header #description-header span:first-child {
    font-size: 25px;
  }
}
main .main-header #description-header span:nth-child(3) {
  font-size: 35px;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main .main-header #description-header span:nth-child(3) {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  main .main-header #description-header span:nth-child(3) {
    font-size: 20px;
  }
}
main .main-header #description-header span:nth-child(5) {
  font-size: 55px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main .main-header #description-header span:nth-child(5) {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  main .main-header #description-header span:nth-child(5) {
    font-size: 30px;
  }
}
main .main-header #description-header span:nth-child(5) a {
  color: black;
}
main .main-header #description-header span:nth-child(5) a:hover {
  text-decoration: underline;
}
main #main-content {
  width: 50%;
  margin: auto;
  padding-top: 30px;
}
@media screen and (max-width: 480px) {
  main #main-content {
    width: 80%;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main #main-content {
    width: 80%;
  }
}
main #main-content img {
  border: 2px solid rgb(190, 187, 187);
  margin: 15px;
}
main .big-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 0em;
}
@media screen and (max-width: 480px) {
  main .big-title {
    font-size: 27px;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main .big-title {
    font-size: 33px;
  }
}
main h2 {
  color: #0f0f10;
  margin: 10px 0 10px 0;
}
main h3 {
  font-size: 1.3em;
}
main p,
main ul,
main ol,
main li,
main b {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  main p,
main ul,
main ol,
main li,
main b {
    font-size: 1em;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  main p,
main ul,
main ol,
main li,
main b {
    font-size: 16px;
  }
}

.pagination-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em 0 8em 0;
  text-decoration: none;
  color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.pagination-section span {
  margin-right: 1em;
  padding-top: 25px;
}
@media screen and (max-width: 480px) {
  .pagination-section span {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .pagination-section span {
    padding-top: 15px;
  }
}
.pagination-section > img {
  border: none !important;
  width: 5%;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .pagination-section > img {
    width: 15%;
  }
}

.appli {
  margin-top: 1.7em;
}
.appli h3 {
  margin-bottom: 5px;
}
.appli p {
  margin-top: 0;
}
.appli .title_link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.code {
  background-color: rgb(232, 231, 231);
  border-radius: 2px;
  font-family: monospace;
  padding: 1em;
  margin: 1em;
  font-size: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #0f0f10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.fifth-title {
  color: #100f0f;
  font-size: 1.2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: auto;
  padding: 0;
  width: 500px;
}

a {
  text-decoration: none;
  color: rgb(32, 114, 191);
}

.title_link {
  text-decoration: none;
}
.title_link:hover {
  text-decoration: underline;
}

.projet-title {
  font-size: 23px;
}

.middle-title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0em;
}
@media screen and (max-width: 900px) {
  .middle-title {
    font-size: 20px;
  }
}

.middle-section {
  margin-top: 3em;
}

.third-section {
  margin-top: 1.7em;
}

.travail-title {
  color: #ec6f21;
  font-size: 1.2em;
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .travail-title {
    font-size: 1em;
  }
}

.alinea {
  text-indent: 20px;
}

.figure {
  text-align: center;
  padding-bottom: 7px;
  font-weight: bold;
}

.projet {
  margin-top: 20px;
}

.title-etape-mission {
  font-size: 21px;
}

.technos {
  color: rgb(104, 104, 104);
}

.annexes-content {
  width: 100%;
  margin: auto;
}
.annexes-content h2 {
  text-align: center;
}
.annexes-content img {
  border: none !important;
}/*# sourceMappingURL=style.css.map */