body {
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // font-family: "opensans-regular", sans-serif;
    font-weight: normal;
}

header {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    background-color: #02182B;
}

#menu {
    flex-basis: 40%;
    padding-top: 10px;
    ul {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            il {
                span {
                    color: #efa70b;
                }
            }
        }
    }
}

main {
    margin: auto;
    flex-basis: 100%;
    .main-header {
        flex-basis: 100%;
        text-align: center;
        line-height: 1.4;
        background-color: #02182B;
        height: 100vh;
        span {
            font-size: 1.2em;
            color: white;
            &:hover {
                color: #e8b340;
            }
        }
        #description-header {
            line-height: 70px;
            font-weight: 400;
            padding-top: 100px;
            text-align: center;
            color: white;
            span:first-child {
                font-size: 70px;
                &:hover {
                    color: #e8b340;
                }
            }
            span:nth-child(3) {
                font-size: 45px;
                &:hover {
                    color: #e8b340;
                }
            }
            span:nth-child(5) {
                font-size: 70px;
                font-family: "Helvetica", "Arial", sans-serif;
                font-weight: bold;
                &:hover {
                    color: #e8b340;
                }
            }
        }
    }
    #main-content {
        width: 50em;
        margin: auto;
        padding-top: 30px;
    }
    .big-title {
        color: #e8b340;
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        color: #084271;
    }
    h3 {
        font-size: 1.3em;
    }
    p,
    ul,
    ol,
    li {
        font-size: 18px;
        line-height: 1.3;
    }
}

@font-face {
    font-family: "arial";
    src: url("../fonts/arial/ARIAL.woff") format("woff");
}

.appli {
    margin-top: 1.7em;
    h3 {
        color: #3f6144;
    }
}

img {
    border: 2px solid rgb(190, 187, 187);
}

#image-3{
    margin: 1.5em;
    width: 80%;
}
.code{
    background-color: rgb(232, 231, 231);
    border-radius: 2px;
    font-family: monospace;
    padding: 1em;
    margin: 1em;
}
footer{
    flex-basis: 100%;
    height: 12vh;
    background-color: #02182B;
    color : white;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.fifth-title{
    color: #084271;
    font-size: 18px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@330&family=Roboto:wght@100&display=swap");